.btn-zoom {
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.btn-zoom:hover {
    transform: scale(1.1);
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}