body {
    background-color: black;
}

.btn-zoom {
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.btn-zoom:hover {
    transform: scale(1.1);
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

.color-cycle {
    animation: colorChange 3s infinite linear;
}

@keyframes colorChange {
    0%   { color: red; }
    10%  { color: orange; }
    20%  { color: yellow; }
    30%  { color: lime; }
    40%  { color: green; }
    50%  { color: turquoise; }
    60%  { color: cyan; }
    70%  { color: blue; }
    80%  { color: violet; }
    90%  { color: magenta; }
    100% { color: red; } 
}